.box {
    width: 100%;
    border-radius: 10px;
    border: 1px solid grey;
    overflow: hidden;

    text-align: center;
}

.box__title{

}







.boxBorder1 {
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;

    hr, th {
        color : lightblue;
    }

    .form-check-label, .form-label {
        color: lightblue;
    }

}



.flexColSpaBet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

@media (max-width: 768px) {
    .mainColumn {
        min-width: 100px;
    }
}


.head, .foot {
    width: 100%;
    border: 2px solid silver;
    border-radius: 10px;
    text-align: center;
}