@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import 'main/page';
@import 'main/font';
// @import 'base/structure';
@import 'main/trunk';

@import 'banner/banner';
@import 'start/start';
@import 'component/nav';
@import 'form/form';
@import 'card/card';
@import 'test/test';
@import 'component/box';
@import 'component/component';
@import 'tchat/tchat';


.trunk {
    max-width: 576px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}    
// @media (max-width: 576px) {
//     .trunk {
//         max-width: 576px;
//         width: 100%;
//     }
// }

.block {
    max-width: 576px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    img {
        width: 100%;
    }
}

.imgblock {
    max-width: 576px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.face {
    width: 100%;
    max-width: 576px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    
    img {
        width: 100%;
    }    
}

.headband {
    max-width: 576px;
    width: 100%;
    position: relative;

    .nav {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }

    .pageTitle {
        position: absolute;
        top: 150px;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 3rem;
        font-family: 'Anton', sans-serif;
    }

    img {
        width: 100%;
    }    
}

.darkBox {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}



.lineBox__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.lineBox__content {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;

}

.lineBox__img {
    width: 48px;
    height: 48px;

    img {
        width: 48px;
        height: 48px;
    }    
}

.lineBox__title {
    text-align: center;
    width: 100%;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}

.lineBox__btn {
    text-align: center;
}

.keys {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.bando {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}  

.logo {
    width : 100%;
}