@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import 'main/font';

.trunk {
    max-width: 576px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}  

.block {
    max-width: 576px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    img {
        width: 100%;
    }
}

.imgblock {
    max-width: 576px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}
