{% extends 'base.html.twig' %}

{# {% block title %}Log in!{% endblock %} #}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<div class="face" style="background-image: url({{ asset('build/img/gen/fond.jpg') }});">
</div>

    <!-- Modal -->
<div class="modal banner__modal fade" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="p-3">
                {% if lang is same as 'fr' %}
                <h4>Vous pouvez trés facilement </h4>
                <h3>créer un compte</h3>
                <a href="{{ path('app_register') }}" class="btn btn-outline-secondary">Créer un compte</a>
                <hr>
                <h4>Vous avez déjà un compte ?</h4>
                <h3>Connectez vous !</h3>
                {% else %}
                <h4>You can easily </h4>
                <h3>create an account</h3>
                <a href="{{ path('app_register') }}" class="btn btn-outline-secondary">Create an account</a>
                <hr>
                <h4>You already have an account ?</h4>
                <h3>Log in !</h3>
                {% endif %}
                <form method="post">
                    <label class="form-label" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label class="form-label" for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <label class="form-label" for="inputPassword">
                    <input type="checkbox" name="_remember_me">Remember me / Se souvenir de moi</label>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-outline-secondary m-3" type="submit">
                        Sign in
                    </button>
                </form> 
                {# <hr>
                <a href="" class="btn btn-outline-light">Mot de passe oublié ?</a>
                </div> #}
            </div>
        </div>
    </div>
</div> 

{% endblock %}
