{% extends 'main.html.twig' %}

{# {% block title %}Log in!{% endblock %} #}

{% block body %}



    <div class="column__container">
        <div class="column__trunk">
            <div class="">
                <img src="{{ asset('build/img/gen/fond.jpg') }}" alt="">
                <div class="column__content m-5">

                </div>    
            </div>
        </div>
    </div>

    <!-- Modal -->
<div class="modal banner__modal fade" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="p-3">
                <h2 class="text-danger">Vous n'etes pas autorisé à acceder à ces données !</h2>
                
                {# <hr>
                <a href="" class="btn btn-outline-light">Mot de passe oublié ?</a>
                </div> #}
            </div>
        </div>
    </div>
</div> 

{% endblock %}