{% extends 'base.html.twig' %}

{# {% block title %}Register{% endblock %} #}

{% block body %}
<div class="face" style="background-image: url({{ asset('build/img/gen/fond.jpg') }});">
</div>

    <!-- Modal -->
<div class="modal banner__modal fade" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="p-3">
            {% if lang is same as 'fr' %}
            <h4>Crée un compte <br> et rejoint le reseau Silenus</h4>
            <h3>Enregistrement</h3>
            {% else %}
            <h4>Create an account <br> and join the Silenus Network</h4>
            <h3>Registration</h3>
            {% endif %}
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <button type="button" class="btn btn-outline-secondary btn-sm my-2" data-bs-toggle="modal" data-bs-target="#mentionsLegales">
            Legals
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm my-2" data-bs-toggle="modal" data-bs-target="#cgu">
            CGU
            </button>
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-outline-secondary my-2">Register</button>
            {{ form_end(registrationForm) }} 
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="mentionsLegales" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="board__modal__content p-3 text-start">
                <h3>Politique de confidentialité</h3>
                
                <button type="button" class="btn btn-outline-secondary" data-bs-target="#pageModal" data-bs-toggle="modal">Close / Fermer</button>
            </div> 
        </div>
    </div>
</div>

<div class="modal fade" id="cgu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="board__modal__content p-3 text-start">
                <h3>Conditions générales d'utilisation </h3>

                <button type="button" class="btn btn-outline-secondary" data-bs-target="#pageModal" data-bs-toggle="modal">Close / Fermer</button>
            </div>        
        </div>
    </div>
</div>




{% endblock %}
