<footer class="block">
    <hr class="text-secondary">
    <div class="row text-center">
        <div class="col-6 ">
            <h4>Information</h4>
            <a href="#" class="btn btn-outline-secondary btn-sm d-block m-1">Mentions légales</a>
            <a href="#" class="btn btn-outline-secondary btn-sm d-block m-1">CGU</a>
            
        </div>
        <div class="col-6 ">
            <h4>A propos</h4>
            <a href="#" class="btn btn-outline-secondary btn-sm d-block m-1">Silenus</a>
            <a href="#" class="btn btn-outline-secondary btn-sm d-block m-1">Garage</a>

        </div>
        <div class="col-12 p-2">
            <p class="m-0">WWW.SILENUS.FR © 2023</p>  
        </div>    
    </div>
</footer>