    <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
        <h4>Les nouveaux profils</h4>
    </div>
    <div class="p-2">    
        {% for profil in profils %}
            {% if profil.pseudo is same as 'anonymous' %}
            {% else %}
            <div class="lineBox__container m-3">
                <div class="lineBox__content bg-dark">
                    <div class="lineBox__img">
                        {# {% if profil.imageUsers is not null %} 
                            <img src="{{ asset(profil.imageUsers.name) }} " alt="">
                        {% else %} #}
                            <img src="{{ asset('build/img/gen/default.png') }}" alt="">
                        {# {% endif %} #}
                    </div>
                    <div class="lineBox__title pt-3 m-0">
                        <div><h5 class="m-0">{{ profil.pseudo }}</h5></div>
                    </div>
                    <div>
                        <a href="{{ path('app_profil', {'userSlug': profil.userSlug}) }}" class="btn btn-outline-secondary btn-sm m-2"><i class="fa-solid fa-eye"></i></a>
                    </div>
                </div>
            </div>
            {% endif %}

        {% endfor %} 
            
    </div>