{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block body %}

{% if app.user %}
    {% if app.user.isFr == true %}
        {% include "front/profil/content/boardHeadFr.html.twig" %}
        <hr>
        {% include "front/profil/content/boardMenuFr.html.twig" %}
    {% else %}
        {% include "front/profil/content/boardHeadEng.html.twig" %}
        <hr>
        {% include "front/profil/content/boardMenuEng.html.twig" %}
    {% endif %}

{% endif %} 




    <hr>
    
    {% include "front/partials/footer.html.twig" %}
{% endblock %}