{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block body %}
    {% if app.user %}
        {% if app.user.isFr == true %}
            {% include "front/profil/content/profilHeadFr.html.twig" %}
            {% include "front/test/content/userTestFr.html.twig" %}
        {% else %}
            {% include "front/profil/content/profilHeadEng.html.twig" %}
            {% include "front/test/content/userTestEng.html.twig" %}
        {% endif %}
    {% endif %}


{% include "front/partials/footer.html.twig" %}
{% endblock %}
