<form method="post" action="{{ path('app_kinkster_delete', {'id': kinkster.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ kinkster.id) }}">
    <button class="btn">Delete</button>
</form>
