{% extends 'base.html.twig' %}



{% block body %}
<div class="face" style="background-image: url({{ asset('build/img/gen/fond.jpg') }});">
</div>

<!-- Modal -->
<div class="modal banner__modal fade" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="p-3">
                <h3>Description</h3>
                <p>Max 600 caractères</p>
                {{ include('front/kinkster/_form.html.twig')}}
    
            </div>
        </div>
    </div>
</div>


{% endblock %}
