{% extends 'base.html.twig' %}

{% block title %}Kinkster{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kinkster.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ kinkster.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ kinkster.roles ? kinkster.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ kinkster.password }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ kinkster.pseudo }}</td>
            </tr>
            <tr>
                <th>UserSlug</th>
                <td>{{ kinkster.userSlug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ kinkster.description }}</td>
            </tr>
            <tr>
                <th>Creation</th>
                <td>{{ kinkster.creation ? kinkster.creation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ kinkster.updateAt ? kinkster.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsFr</th>
                <td>{{ kinkster.isFr ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsLetter</th>
                <td>{{ kinkster.isLetter ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsValidated</th>
                <td>{{ kinkster.isValidated ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsSuspended</th>
                <td>{{ kinkster.isSuspended ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsDeleted</th>
                <td>{{ kinkster.isDeleted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Visit</th>
                <td>{{ kinkster.visit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_kinkster_index') }}">back to list</a>

    <a href="{{ path('app_kinkster_edit', {'id': kinkster.id}) }}">edit</a>

    {{ include('kinkster/_delete_form.html.twig') }}
{% endblock %}
