{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block body %}
<div class="face" style="background-image: url({{ asset('build/img/gen/fond.jpg') }});">
</div>


<!-- Modal -->
<div class="modal banner__modal fade mt-5" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="board__modal__content p-3">
                {% if lang is same as 'fr' %}
                    <hr>
                    <h2>Vous avez un compte !</h2>
                    <a href="{{ path('app_login') }}" class="btn btn-outline-secondary">
                        Connection
                    </a>
                    <hr>
                    <h2>Simple visite ?</h2>
                    <p>Validez le formulaire de conditions</p>
                    <a href="{{ path('app_start_validation') }}" class="btn btn-outline-secondary">
                        Validation
                    </a>
                    <hr>
                {% else %}
                    <hr>
                    <h2>You have an account !</h2>
                    <a href="{{ path('app_login') }}" class="btn btn-outline-secondary">
                        Login
                    </a>
                    <hr>
                    <h2>Simple visit ?</h2>
                    <p>You must validate conditions</p>
                    <a href="{{ path('app_start_validation') }}" class="btn btn-outline-secondary">
                        Validation
                    </a>
                    <hr>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}