{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block body %}
<div class="face" style="background-image: url({{ asset('build/img/gen/fond.jpg') }});">
</div>


<!-- Modal -->
<div class="modal banner__modal fade mt-5" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="board__modal__content p-3">
                <hr>
                <p class="my-2 text-center">
                <h1>Silenus</h1>
                <h2>Social network</h2>
                <hr>
                <div class="row">
                    <p>Choisissez - Choose</p>
                    <div class="col-1 col-sm-2">
                    </div>
                    <div class="col-4 col-sm-3">
                        <a href="{{ path('app_start_fr') }}">
                            <img src="{{ asset('build/img/gen/fr.png') }}" alt="En Français" class="img-fluid"> 
                        </a>
                    </div>
                    <div class="col-2 col-sm-2">
                    </div>
                    <div class="col-4 col-sm-3">
                        <a href="{{ path('app_start_eng') }}">
                            <img src="{{ asset('build/img/gen/eng.png') }}" alt="In English" class="img-fluid">
                        </a>
                    </div>
                    <div class="p-2"></div>
                    <div class="col-1 col-sm-2">
                    </div>
                    
                </div>
                {# <a class="btn btn-outline-secondary"                         
                    data-bs-target="#pageModal2" 
                    data-bs-toggle="modal">
                    Next
                </a> #}
            </div>
        </div>
    </div>
</div>
{# <div class="modal banner__modal fade mt-5" id="pageModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="board__modal__content p-3">

                <hr>
                <h2>Vous avez un compte !</h2>
                <a href="{{ path('app_login') }}" class="btn btn-outline-secondary">
                    Connection
                </a>
                <hr>
                <h2>Simple visite ?</h2>
                <p>Validez le formulaire de conditions</p>
                <a href="{{ path('app_start_validation') }}" class="btn btn-outline-secondary">
                    Validation
                </a>
                <hr>
            </div>
        </div>
    </div>
</div> #}
{% endblock %}