{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block body %}
<div class="face" style="background-image: url({{ asset('build/img/gen/fond.jpg') }});">
</div>

    <!-- Modal -->
<div class="modal banner__modal fade mt-5" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="board__modal__content p-4">

                {% if lang is same as 'fr' %}
                    <h1>Silenus</h1>
                    <h2></h2>
                    <P>Veuillez valider les conditions</P>
                    {{ form_start(startForm) }}
                    <div class="alert alert-danger text-center" role="alert">
                        <b>Silenus</b> est un site sans publicité et n'est pas relié aux divers réseaux sociaux. <br>
                        Ceci le protège de cookies extérieurs intrusifs.
                        {{ form_row(startForm.opt1) }}
                    </div>
                    <div class="alert alert-danger text-center" role="alert">
                        <b>Silenus</b> n’utilise aucun tracker de statistique tel que GoogleAnalytics.<br>
                        {{ form_row(startForm.opt2) }}
                    </div>

                    <div class="alert alert-danger text-center" role="alert">
                        <b>Silenus </b> n'utilise que très peu de cookies strictements necessaire au fonctionnement technique de la plateforme.<br>
                        Acceptez-vous l'utilisation de ces cookies ?
                        {{ form_row(startForm.opt3) }}
                    </div>

                    {{ form_end(startForm) }}
                {% else %}
                    <h1>Silenus</h1>
                    <h2></h2>
                    <P>Please validate the conditions</P>
                    {{ form_start(startForm) }}
                    <div class="alert alert-danger text-center" role="alert">
                        <b>Silenus </b> is an ad-free site and is not linked to various social networks. This protects it from intrusive external cookies.
                        {{ form_row(startForm.opt1) }}
                    </div>
                    <div class="alert alert-danger text-center" role="alert">
                        <b>Silenus</b> does not use any statistical trackers such as GoogleAnalytics.<br>
                        {{ form_row(startForm.opt2) }}
                    </div>
                   
                    <div class="alert alert-danger text-center" role="alert">
                        <b>Silenus </b> uses very few cookies that are strictly necessary for the technical operation of the platform.<br>
                        Do you accept the use of these cookies?
                        {{ form_row(startForm.opt3) }}
                    </div>
                    
                    {{ form_end(startForm) }}
                {% endif %}
            </div>
        </div>
    </div>
</div> 

{% endblock %}