{% extends 'base.html.twig' %}

{# {% block title %}Hello InfoController!{% endblock %} #}

{% block body %}
    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        <img src="{{ asset('build/img/gen/sofa1.png') }}" alt="sofa">
    </div>
    <div class="p-3">    
        
            
    </div>
    {% include "front/partials/footer.html.twig" %}
{% endblock %}
