    <div class="modal fade" id="modalTest" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                {# --------- accordion --------- #}
                <div class="title"><h1>{{ anonymous[0].test.name }}</h1></div>
                <h2>Anonymous</h2>
                <div class="brand"><p class="m-0">WWW.SILENUS.FR</p></div>
                <div class="boxAccordion darkBox pt-3">
                    <div class="accordionBody">
                        <div class="accordionTitle row pe-2">
                            {% for result in anonymous[0].scores %}
                                {% if result.force > 95 %}
                                    <div class="col-3 col-sm-4 txtResult1">{{ result.force }} %</div>
                                    <div class="col-7 col-sm-5 txtResult1">{{ result.factor.name }}</div>
                                {% elseif result.force > 75 %}
                                    <div class="col-3 col-sm-4 txtResult2">{{ result.force }} %</div>
                                    <div class="col-7 col-sm-5 txtResult2">{{ result.factor.name }}</div>
                                {% elseif result.force > 55  %}
                                    <div class="col-3 col-sm-4 txtResult3">{{ result.force }} %</div>
                                    <div class="col-7 col-sm-5 txtResult3">{{ result.factor.name }}</div>
                                {% elseif result.force > 35 %}
                                    <div class="col-3 col-sm-4 txtResult4">{{ result.force }} %</div>
                                    <div class="col-7 col-sm-5 txtResult4 cell">{{ result.factor.name }}</div>
                                {% elseif result.force > 15  %}
                                    <div class="col-3 col-sm-4 txtResult5">{{ result.force }} %</div>
                                    <div class="col-7 col-sm-5 txtResult5">{{ result.factor.name }}</div>
                                {% else %}
                                    <div class="col-3 col-sm-4 txtResult6">{{ result.force }} %</div>
                                    <div class="col-7 col-sm-5 txtResult6">{{ result.factor.name }}</div>
                                {% endif %}
                                <div class="col-2 col-sm-3 txtResult6">
                                    <div class="btn btn-outline-secondary btn-sm m-1 btnTestInfo">
                                        <i class="fa-solid fa-arrow-down"></i>
                                    </div>
                                </div>
                                <div class="col-12 text-secondary infoClose px-4 pt-0 pb-4"><b>{{ result.factor.name }} : </b>{{ result.factor.descEng | raw }}</div>
                            {% endfor %} 
                        </div>
                    </div>
                </div>
                <a href="{{ path('app_home')}}" class="btn btn-outline-secondary my-3">Return</a>

            </div>
        </div>
    </div>
</div>