<div class="darkBox py-5">
    <div class="row">
        <div class="col-12 col-sm-6">
            {% if test.imgsquare is not null %} 
                <img src="{{ asset(test.imgsquare.name) }}" alt="{{ test.name }}" style="width: 100%;">
            {% else %}
                <img src="{{ asset('build/img/gen/default.png') }}" alt="{{ test.name }}"
                    style="width: 100%;">
            {% endif %}
        </div>
        <div class="col-12 col-sm-6">
            <div class="presentation">
                <hr>
                <h3>{{ test.name }}</h3>
                <p class="m-0">{{ test.sousTitre }}</p>
                {% if app.user %}
                <a href="{{ path('app_test_run', {'testSlug': test.testSlug}) }}" 
                    class="btn btn-outline-secondary mt-3 mx-3">
                    Lancer le test !
                </a>
                {% else %}
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#registerModal">
                    Vers le test
                    </button>
                {% endif %}
                <hr>
            </div>                 
        </div>
        <div class="col-12 px-3 py-3 text-start text-secondary">
            <p class="m-3 p-2">{{ test.descFR | raw }}</p>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark p-3">
            <p>Vous n'avez pas encore de compte ?</p>
            <P>Vos resultats seront perdus ...</P>
            <p class="text-success">Créer un compte pour sauvegarder, c'est rapide !</p>
            <a href="{{ path('app_register') }}" class="btn btn-outline-success">
                Créer
            </a>
        <hr>
            {% if test.imgsquare is not null %} 
                <img src="{{ asset(test.imgsquare.name) }}" alt="{{ test.name }}" style="width: 100%;">
            {% else %}
                <img src="{{ asset('build/img/gen/default.png') }}" alt="{{ test.name }}"
                    style="width: 100%;">
            {% endif %}              
        <hr>
            <p>Faire le test sans sauvegarde</p>
            <a href="{{ path('app_test_run', {'testSlug': test.testSlug}) }}" class="btn btn-outline-secondary mt-3 mx-3">
                Lancer le test !
            </a>
        </div>    
  </div>
</div>
