    <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
        <h4>Les derniers tests réalisés</h4>
    </div>
    <div class="p-2">    
        {% for impact in impacts %}
            <div class="lineBox__container m-3">
                <div class="lineBox__content bg-dark">
                    <div class="lineBox__img">
                        {% if impact.test.imgsquare is not null %} 
                            <img src="{{ asset(impact.test.imgsquare.name) }} " alt="">
                        {% else %}
                            <img src="{{ asset('build/img/gen/default.png') }}" alt="">
                        {% endif %}
                    </div>
                    <div class="lineBox__title pt-1 m-0">
                        <div>
                            <h5 class="m-0">{{ impact.test.name }}</h5>
                            <a href="{{ path('app_profil', {'userSlug': impact.kinkster.userSlug }) }}" class="text-secondary decoration-none">{{ impact.kinkster.pseudo }}</a>
                        </div>
                    </div>
                    <div>
                        <a href="{{ path('app_test_result', {'impactSlug': impact.impactSlug}) }}" class="btn btn-outline-secondary btn-sm m-2"><i class="fa-solid fa-eye"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %} 
            
    </div>