            {{ form_start(testForm) }}
            {% for key, quest in quests %}
                {% if key == 0 %}
                    <div class="modal fade mt-5 mt-sm-3" id="modalTest" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="testrun p-3">
                                    <div><h2 class="text-center">SILENUS</h2></div>
                                    <div><h1 class="text-center">{{test.name}}</h1></div>
                                    <h4>{{ key + 1 }} / {{ quests | length }}</h4>
                                    {# <div><h2 class="text-center">{{ count + 1 }} / {{ length }}</h2></div> #}
                                    <div class="testrun__question bg-dark my-5 p-3"><p class="text-center m-0">{{quest.questEng}}</p></div>
                                    <div class="testrun__consent px-3">
                                        <div class="text-danger testrun__consent__text">
                                            <b>No !</b>
                                        </div>
                                        <div class="text-warning testrun__consent__text">
                                            <b>Neutral</b>
                                        </div>
                                        <div class="text-success testrun__consent__text">
                                            <b>Yes !</b>
                                        </div>
                                    </div>
                                    <div class="testrun__choices">


                {% else %}
                    <div class="modal fade mt-5 mt-sm-3" id="modalTest{{key}}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="testrun p-3">
                                    <div><h2 class="text-center">INSIDIOME</h2></div>
                                    <div><h1 class="text-center">{{test.name}}</h1></div>
                                    <h4>{{ key + 1 }} / {{ quests | length }}</h4>
                                    {# <div><h2 class="text-center">{{ count + 1 }} / {{ length }}</h2></div> #}
                                    <div class="testrun__question bg-dark my-5 p-3"><p class="text-center m-0">{{quest.questEng}}</p></div>
                                    <div class="testrun__consent px-3">
                                        <div class="text-danger testrun__consent__text">
                                            <b>No !</b>
                                        </div>
                                        <div class="text-warning testrun__consent__text">
                                            <b>Neutral</b>
                                        </div>
                                        <div class="text-success testrun__consent__text">
                                            <b>Yes !</b>
                                        </div>
                                    </div>
                                    <div class="testrun__choices">


                {% endif %}                        
            {{ form_row(testForm['choices' ~ key]) }}
                    </div>
                    {% if key == countQuests - 1 %}
                        <button type="submit" class="btn btn-outline-light d-none">Calculate</button>
                    {% else %}
                        <button class="btn btn-outline-light modalTest{{ key }} d-none" 
                            data-bs-target="#modalTest{{ key + 1 }}" 
                            data-bs-toggle="modal">
                            Next
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
            {% endfor %}
            {{ form_end(testForm) }}
            
            </div>
        </div>
    </div>
</div> 