<div class="row">
    {% for test in tests %}
        {% if test.isActive == true%}
            <div class="col-12 col-sm-6 g-5">
                <div class="crd transfo box bg-dark">
                    {% if test.imgsquare is not null %} 
                        <img src="{{ asset(test.imgsquare.name) }} " alt="{{ test.name }}">
                    {% else %}
                        <img src="{{ asset('build/img/gen/default.png') }}" alt="{{ test.name }}">
                    {% endif %}
                    <div class="crd__content p-2">
                        <p class="m-0">{{ test.sousTitre }}</p>
                        <a href="{{ path('app_test', {'testSlug': test.testSlug}) }}" 
                            class="btn btn-outline-secondary btn-sm m-2">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>  