{# ----------zone de test---------------- #}
<div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
    <h4> {{ kinkster.pseudo }} tests</h4>
</div>
{# <div class="lineBox__container bg-dark p-1 my-3">
    <div class="lineBox__content">
        <h4 class>Les tests de {{ kinkster.pseudo }}</h4>
    </div>
</div>     #}

{% for impact in impacts %}
    <div class="lineBox__container m-3">
        <div class="lineBox__content bg-dark">
            <div class="lineBox__img">
                {% if impact.test.imgsquare is not null %} 
                    <img src="{{ asset(impact.test.imgsquare.name) }} " alt="">
                {% else %}
                    <img src="{{ asset('build/img/gen/default.png') }}" alt="">
                {% endif %}
            </div>
            <div class="lineBox__title pt-3 m-0">
                <div><h5 class="m-0">{{ impact.test.name }}</h5></div>
            </div>
            <div>
                <a href="{{ path('app_test_result', {'impactSlug': impact.impactSlug}) }}" class="btn btn-outline-secondary btn-sm m-2"><i class="fa-solid fa-eye"></i></a>
            </div>
        </div>
    </div>
    <div class="lineBox__container m-3">    
        {% for score in impact.scores %}
            {% if score.level > 95 %}
                <div class="btn btn-outline-primary btn-sm m-1">
                    {{ score.factor.name }} {{ score.level }} %
                </div>
            {% elseif score.level > 75 %}
                <div class="btn btn-outline-success btn-sm m-1">
                    {{ score.factor.name }} {{ score.level }} %
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %} 