{% extends 'base.html.twig' %}

{# {% block title %}Hello InfoController!{% endblock %} #}

{% block body %}
    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        <img src="{{ asset('build/img/gen/head.png') }}" alt="sofa">
    </div>
    <hr>
    
    {% if app.user %}
        {% if app.user.isFr == true %}
            {% include "front/kinkster/content/lastUserFr.html.twig" %}
            <hr>
            {% include "front/test/content/lastTestFr.html.twig" %}
        {% else %}
            {% include "front/kinkster/content/lastUserFr.html.twig" %}
            <hr>
            {% include "front/test/content/lastTestFr.html.twig" %}
        {% endif %}
    {% elseif lang is same as 'fr' %}
        {% include "front/kinkster/content/lastUserFr.html.twig" %}
        <hr>
        {% include "front/test/content/lastTestFr.html.twig" %}
    {% else %}  
        {% include "front/kinkster/content/lastUserFr.html.twig" %}
        <hr>
        {% include "front/test/content/lastTestFr.html.twig" %}
    {% endif %} 

    {% include "front/partials/footer.html.twig" %}
{% endblock %}
