{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
        INSIDIOME
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
        BDSM Life style, Kink N' Fetish, Internal Language
    </div>
{% endblock %}

{% block metas %}
    {# <meta property="og:description" content="INSIDIOME">
    <meta name="description" content="BDSM Life style, Kink N' Fetish, Internal Language">
    <meta name="robots" content="index , follow">
    <meta property="og:image" content="{{ asset("build/img/gen/insidiome.png") }}">
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image:alt" content="INSIDIOME" />
    <meta property="og:url" content="https://www.insidiome.com"/> #}
{% endblock %}

{% block body %}
    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        {# <div class="PageTitle">HOME</div> #}
        <img src="{{ asset('build/img/gen/head.png') }}" alt="sofa" class="max">
    </div>
{# <div class="face" style="background-image: url({{ asset('build/img/gen/mobile.jpg') }});">
    {% include "front/partials/nav.html.twig" %} #}

{% if app.user %}
    {% if app.user.isFr == true %}
       
    {% else %}
        
    {% endif %}
{% elseif lang is same as 'fr' %}
    
{% else %}  
      
{% endif %} 

{% if app.user %}
    {% if app.user.isFr == true %}
        {% include "front/home/presentFr.html.twig" %}
        <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
            <h4>Tests !</h4>
        </div>
        {% include "front/test/content/testFr.html.twig" with {'tests' : basicTests} %}
        <div class="p-3 text-center">
            <a href="{{ path('app_test_list') }}" class="btn btn-outline-secondary btn-sm px-3 m-3" >Tous les tests</a>
        </div>
        <hr>
    {% else %}
        {% include "front/home/presentEng.html.twig" %}
        <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
            <h4>Tests !</h4>
        </div>        
        {% include "front/test/content/testEng.html.twig" with {'tests' : basicTests} %}
        <div class="p-3 text-center">
            <a href="{{ path('app_test_list') }}" class="btn btn-outline-secondary btn-sm px-3 m-3" >All tests</a>
        </div>
        <hr>
    {% endif %}
{% elseif lang is same as 'fr' %}
    {% include "front/home/presentFr.html.twig" %}
        <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
            <h4>Tests !</h4>
        </div>    
        {% include "front/test/content/testFr.html.twig" with {'tests' : basicTests} %}
    <div class="p-3 text-center">
        <a href="{{ path('app_test_list') }}" class="btn btn-outline-secondary btn-sm px-3 m-3" >Tous les tests</a>
    </div> 
    <hr>   
{% else %}  
    {% include "front/home/presentEng.html.twig" %}
        <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
            <h4>Tests !</h4>
        </div>    
        {% include "front/test/content/testEng.html.twig" with {'tests' : basicTests} %}
    <div class="p-3 text-center">
        <a href="{{ path('app_test_list') }}" class="btn btn-outline-secondary btn-sm px-3 m-3" >All tests</a>
    </div> 
    <hr>   
{% endif %}





<div class="block">
    <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
        <h4>Articles</h4>
    </div>
    <div class="p-5 text-center">
        <p>Cette plateforme est en cours de développement</p>
        <p>😉</p>
    </div>
</div>
{% include "front/partials/footer.html.twig" %}
{% endblock %}