.boxAccordion  {
    border : 1px solid black;
    border-radius: 10px;
    overflow: hidden;


    hr {
        color: black;
    }
}

.accordionHead {

    .cellHead {
        font-family: 'roboto condensed', sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        color: lightblue;
    }
}

.accordionBody {

    .infoClose {
        display: none;
        transition-duration: 1s ease;
        transform: scaleY(0);
        transform-origin: top;
    }

    .infoOpen {
        display: block;
        text-align: justify;
        font-size: 1rem;
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 0.4s ease;
        border-radius: 5px;
    }
  
}

.txtResult1 {
    color: blue;
    font-family: 'roboto condensed', sans-serif;
}
.txtResult2 {
    color: green;
    font-family: 'roboto condensed', sans-serif;
}
.txtResult3 {
    color: yellow;
    font-family: 'roboto condensed', sans-serif;
}
.txtResult4 {
    color: orange;
    font-family: 'roboto condensed', sans-serif;
}
.txtResult5 {
    color: red;
    font-family: 'roboto condensed', sans-serif; 
}
.txtResult6 {
    color: darkred;
    font-family: 'roboto condensed', sans-serif;    
}