.testrun {
    width: 100%;
    max-width: 576px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.testrun__question {
    width: 100%;
    border-radius: 5px;
}

.testrun__consent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1rem;
    padding: 0px;

}

.testrun__consent__text {
    font-family: 'Anton', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
}

.testrun__choices {
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    #test2_choices0, #test2_choices1, #test2_choices2, #test2_choices3, #test2_choices4, #test2_choices5, #test2_choices6, #test2_choices7, #test2_choices8, #test2_choices9, 
    #test2_choices10, #test2_choices11, #test2_choices12, #test2_choices13, #test2_choices14, #test2_choices15, #test2_choices16, #test2_choices17, #test2_choices18, #test2_choices19, 
    #test2_choices20, #test2_choices21, #test2_choices22, #test2_choices23, #test2_choices24, #test2_choices25, #test2_choices26, #test2_choices27, #test2_choices28, #test2_choices29, 
    #test2_choices30, #test2_choices31, #test2_choices32, #test2_choices33, #test2_choices34, #test2_choices35, #test2_choices36, #test2_choices37, #test2_choices38, #test2_choices39, 
    #test2_choices40, #test2_choices41, #test2_choices42, #test2_choices43, #test2_choices44, #test2_choices45, #test2_choices46, #test2_choices47, #test2_choices48, #test2_choices49, 
    #test2_choices50, #test2_choices51, #test2_choices52, #test2_choices53, #test2_choices54, #test2_choices55, #test2_choices56, #test2_choices57, #test2_choices58, #test2_choices59, #test2_choices60, #test2_choices61, #test2_choices62, #test2_choices63, #test2_choices64, #test2_choices65, #test2_choices66, #test2_choices67, #test2_choices68, #test2_choices69, #test2_choices70, #test2_choices71, #test2_choices72, #test2_choices73, #test2_choices74, #test2_choices75, #test2_choices76, #test2_choices77, #test2_choices78, #test2_choices79, #test2_choices80, #test2_choices81, #test2_choices82, #test2_choices83, #test2_choices84, #test2_choices85, #test2_choices86 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        border: 1px rgb(0, 0, 0) solid;
        background: linear-gradient(90deg, red, yellow, green );
    }

    #test_choices {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        border: 1px rgb(0, 0, 0) solid;
        background: linear-gradient(90deg, red, yellow, green );
    }

    form {
        width: 100%;
    }

    fieldset {
        width: 100%;
    }

    div {
        width: 100%;
    }

    .form-check {
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
    }

    .form-check-input {
        margin: 10px;
        padding: 0px;
    }

    .form-check-label {
        display: none;
        
    }

}