{% set factorArray = entity.instance.factors %}
{% set questionArray = entity.instance.questions %}    

    <a href="{{ ea_url()
        .setController('App\\Controller\\Admin\\FactorCrudController')
        .set('testId', entity.instance.id)
        .setAction('new')
        }}"
        class="btn btn-success">
        Ajouter un facteur
    <a/>

{% if factorArray | length == 0 %}
    <span>Pas de facteur.</span>
{% else %}
    <p class='p-2 mb-4 text-center'>Il y a en tout 
        <strong>{{factorArray | length}}</strong>
        <span> 
            {% if factorArray | length == 1 %} 
                Facteur.
            {% else %} 
                Facteurs.
            {% endif %}
        </span>
    </p>
    <table class='table'>
        <thead>
            <tr>
                <th scope="col">Facteurs : nom</th>
                <th scope="col">Factors : name</th>
                <th scope="col">Action</th>
                <th scope="col">Action</th>
                
            </tr>
        </thead>
        <tbody>
            {% for factor in factorArray %}
                <tr>
                    <td>{{factor.nom}}</td>
                    <td>{{factor.name}}</td>
                    <td>
                        <a href="{{ ea_url()
                        .setController('App\\Controller\\Admin\\FactorCrudController')
                        .setEntityId(factor.id)
                        .setAction('show')
                        }}"
                        class="btn">
                        Voir</a>
                    </td> 
                    <td>
                        <a href="{{ ea_url()
                        .setController('App\\Controller\\Admin\\FactorCrudController')
                        .setEntityId(factor.id)
                        .setAction('edit')
                        }}"
                        class="btn">
                        Editer</a>
                    </td>                   
                </tr>
                {% for question in questionArray %}
                    {% if question.test == factor %}
                        <tr>
                            <td>{{question.questFr}}</td>
                        </tr>
                    {% endif %}
                {% endfor %} 
            {% endfor %}      
        </tbody>
    </table>
{% endif %}