@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: darkorange;
}

h2 {
    // font-family: 'Covered By Your Grace', cursive;
    font-size: 2rem;
    font-weight: 400;
    color: #add8e6;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: hsl(33, 100%, 50%);
}

h4 {
    font-size: 1.4rem;
    font-weight: 400;
    color: lightblue;
}

h5 {
    font-family: 'Anton', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: darkorange;
}

p {
    font-family: 'roboto condensed', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: silver;
}

.brand {

    color: grey;
    font-weight: bold;

    span {
        font-family: 'Anton', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: grey;
    }

    p {
        color: grey;
        
        font-weight: bold;
    }
  
}