body {
    background-color: black;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}
// }

// section {
//     width: 100%;
//     height: 100px;
//     display: flex;
//     justify-content: center;

// }

hr {
    width: 100%;
    height: 1px;
    color : white;
}

.main__trunk {
    width: 100%;
    max-width: 992px;
}

.column__container {
    width: 100%;
    display:flex;
    justify-content: center;
    position: relative;
}

.column__trunk {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        width: 100%;
    }
}

.column__content {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: rgb(0,0,0,0.6);
}



.modal-content {
    background-color: rgb(0,0,0,0.6);
    width: 100%;
    text-align: center;
    margin-top: 50px;
}




.alert{
    
    .form-check{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}

.presentation {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}


