{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('testModal') }}
    {{ encore_entry_script_tags('testFactorInfo') }}
{% endblock %}

{% block body %}
    {# {% if anonymous[0].test.imgback is not null %} 
        <div class="face" style="background-image: url({{ asset(anonymous[0].test.imgback.name) }});">
    {% else %} #}
        <img src="{{ asset('build/img/gen/fond.jpg') }}" alt="">
    {# {% endif %} #}


{% if lang is same as 'fr' %}
    {% include "front/test/content/anonFr.html.twig" %}
{% else %}  
    {% include "front/test/content/anonEng.html.twig" %}  
{% endif %} 



  
{% endblock %}
