{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('testModal') }}
{% endblock %}

{% block body %}
<div class="face" style="background-image: url({{ asset('build/img/gen/fond.jpg') }});">

                        <div class="modal fade" id="modalTest" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content p-3">
                                    <hr>
                                    <h3>{{ kinkster.pseudo}}</h3>
                                    <h4>Vous avez déja réalisé ce test !</h4>
                                    <a href="{{ path('app_test_result', {'impactSlug': impact.impactSlug }) }}" class="btn btn-outline-light m-2">Vos résultats</a>
                                    <a href="{{ path('app_profil', {'userSlug': kinkster.userSlug }) }}" class="btn btn-outline-light m-2">Votre profil</a>
                                    <hr>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>  
        {% endblock %}
