{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
        {{ test.name }}
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
        {{ test.descFR }}
    </div>
{% endblock %}

{% block body %}


{# 
<div class="face" style="background-image: url({{ asset('build/img/gen/mobile.jpg') }});">
    {% include "front/partials/nav.html.twig" %} #}
    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        <img src="{{ asset('build/img/gen/head.png') }}" alt="sofa" class="max">
    </div>

    {% if app.user %}
        {% if app.user.isFr == true %}
            {% include "front/test/content/introFr.html.twig" %}
        {% else %}
        {% include "front/test/content/introEng.html.twig" %}
        {% endif %}
    {% elseif lang is same as 'fr' %}
        {% include "front/test/content/introFr.html.twig" %}
    {% else %}  
        {% include "front/test/content/introEng.html.twig" %}
    {% endif %}


{% include "front/partials/footer.html.twig" %}
{% endblock %}
