{% extends 'base.html.twig' %}

{# {% block title %}Hello InfoController!{% endblock %} #}

{% block body %}
    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        <img src="{{ asset('build/img/gen/head.png') }}" alt="sofa" class="max">
    </div>




    <hr>
    <div class="row">
        <div>
            <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
                <h4>Présentation des tests</h4>
            </div>
            <div class="p-5">
                <p>Socrate, le philosophe disait : « Connais-toi toi-même ».</p>
                
                <p>Silenus</p>
            </div>
        </div>
    </div>

    
    {% if app.user %}
        {% if app.user.isFr == true %}
            <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
                <h4>Basic Tests :</h4>
            </div>         
            {% include "front/test/content/testFr.html.twig" with {'tests' : basicTests} %}
            <hr>
            <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
                <h4>Advanced Tests :</h4>
            </div>             
            {% include "front/test/content/testFr.html.twig" with {'tests' : advancedTests} %}
        <hr>
        {% else %}
            <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
                <h4>Basic Tests :</h4>
            </div>         
            {% include "front/test/content/testEng.html.twig" with {'tests' : basicTests} %}
            <hr>
            <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
                <h4>Advanced Tests :</h4>
            </div>             
            {% include "front/test/content/testEng.html.twig" with {'tests' : advancedTests} %}
        <hr>
        {% endif %}
    {% elseif lang is same as 'fr' %}
            <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
                <h4>Basic Tests :</h4>
            </div>     
            {% include "front/test/content/testFr.html.twig" with {'tests' : basicTests} %}
            <hr>
            <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
                <h4>Advanced Tests :</h4>
            </div>             
            {% include "front/test/content/testFr.html.twig" with {'tests' : advancedTests} %}
        <hr>
    {% else %}  
            <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
                <h4>Basic Tests :</h4>
            </div>     
            {% include "front/test/content/testEng.html.twig" with {'tests' : basicTests} %}
            <hr>
            <div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
                <h4>Advanced Tests :</h4>
            </div>             
            {% include "front/test/content/testEng.html.twig" with {'tests' : advancedTests} %}
        <hr>
    {% endif %}        


    {% include "front/partials/footer.html.twig" %}
{% endblock %}