{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('testModal') }}
{% endblock %}

{% block body %}

    {% if test.imgback is not null %} 
        <div class="face" style="background-image: url({{ asset(test.imgback.name) }});">
    {% else %}
        <img src="{{ asset('build/img/gen/fond.jpg') }}" alt="{{ test.name }}">
    {% endif %}

    {% if app.user %}
        {% if app.user.isFr == true %}
            {% include "front/test/content/runFr.html.twig" %}
        {% else %}
        {% include "front/test/content/runEng.html.twig" %}
        {% endif %}
    {% elseif lang is same as 'fr' %}
        {% include "front/test/content/runFr.html.twig" %}
    {% else %}  
        {% include "front/test/content/runEng.html.twig" %}
    {% endif %}

 
{% endblock %}
