{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
    
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('testModal') }}
{% endblock %}

{% block body %}
    {% if test.imgback is not null %} 
        <div class="face" style="background-image: url({{ asset(test.imgback.name) }});"></div>
    {% else %}
        <div class="face" style="background-image: url({{ asset('build/img/gen/fond.jpg') }});"></div>
        {# <img src="{{ asset() }}" alt="{{ test.name }}"> #}
    {% endif %}

    {% if app.user %}
        {% if app.user.isFr == true %}
            <div class="modal fade" id="modalTest" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content p-3">
                    <h2>Félicitations !</h2>
                    <h3>{{ user.pseudo }}</h3>
                    <p>Vous avez terminé votre test avec succés le</p>
                    <h2>{{ test.name }}</h2>
                    <hr>
                    <p>Cliquez pour voir vos résultats !</p>
                    <a href="{{ path('app_test_result', {'impactSlug': impact.impactSlug }) }}" class="btn btn-outline-secondary">Voir</a>
                    <hr>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="modal fade" id="modalTest" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content p-3">
                    <h2>Congratulations !</h2>
                    <h3>{{ user.pseudo }}</h3>
                    <p>You have successfully completed the test on</p>
                    <h2>{{ test.name }}</h2>
                    <hr>
                    <p>Click to see your results !</p>
                    <a href="{{ path('app_test_result', {'impactSlug': impact.impactSlug }) }}" class="btn btn-outline-secondary">See</a>
                    <hr>
                    </div>
                </div>
            </div>
        {% endif %}

    {% else %}  
         
    {% endif %}


{% endblock %}
