.banner__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    // height: 100vh;

}

.banner__desktop {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

    img {
        width: 100%;
    }

    .banner__header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }

    .banner__block {
        max-width: 576px;
        position: absolute;
        top: 70px;
        left: 0px;
    }
}

.banner__mobile {
    display: none;

}

.banner__left__content {    
    width: 576px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(0,0,0,0.6);
    text-align: center;

}

@media (max-width: 576px) {
    
    .banner__desktop {
        display: none;

    }
    
    .banner__mobile {
        display: block;
        width: 100%;
        height: 100%;
    
        img {
            width: 100%;
            
        }

        .banner__header {

            width: 100%;
        }

        .banner__block {
            width: 100%;

        }
    }

    .banner__left__content {    
        width: 100%;

    
    }
}
