<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        {# <title>INSIDIOME</title>
        <description>BDSM Life style, Fetish ART, Internal Language</description> #}
        <link rel="icon" href="{{ asset('build/img/gen/default.png') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block metas %}
        {% endblock %}

        {% block title %}
        {% endblock %}

        {% block description %}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </head>
    <body>
        <main>
            <div class="trunk p-0 m-0" 
                {# style="max-width: 576px; @media (max-width: 576px) { width: 100%; }" #}
                >
                
            {% block body %}
                
            {% endblock %}
            </div>
        </main>
    </body>
</html>
