<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# <title>INSIDIOME</title>
        <description>BDSM Life style, Fetish ART, Internal Language</description> #}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block metas %}
            <meta property="og:description" content="INSIDIOME">
            <meta name="description" content="BDSM Life style, Fetish ART, Internal Language">
            <meta name="robots" content="index , follow">
            <meta property="og:image" content="{{ asset("build/images/Apausecroche-icone.ico") }}">
            <meta property="og:image:width" content="200" />
            <meta property="og:image:height" content="200" />
            <meta property="og:image:alt" content="INSIDIOME" />
            <meta property="og:url" content="https://www.insidiome.com"/>
        {% endblock %}
        {% block title %}
        <div class="d-none">INSIDIOME</div>
        {% endblock %}
        {% block description %}
        <div class="d-none">BDSM Life style, Fetish ART, Internal Language</div>{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </head>
    <body>
        <main>
            <div class="main__trunk">
                <img src="{{ asset('build/img/gen/logo.png') }}" alt="logo" class="logo" style="width: 100%;">
                {% block body %}
                
                
                
                
                
                {% endblock %}
            </div>
        </main>
    </body>
</html>