<form method="post" action="{{ path('app_tchat_delete', {'roomSlug': room.slug, 'id': message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class="btn btn-outline-danger btn-sm mt-2">Delete</button>
</form>
