{% extends 'base.html.twig' %}

{# {% block title %}Log in!{% endblock %} #}

{% block body %}

<div class="face" style="background-image: url({{ asset('build/img/gen/mobile.jpg') }});">
</div>

    <!-- Modal -->
<div class="modal banner__modal fade" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <p>{{ parent.content }}</p>
            <div class="p-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-success">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div> 

{% endblock %}