{% extends 'base.html.twig' %}

{% block title %}Edit Message{% endblock %}

{% block body %}
    <h1>Edit Message</h1>

    {{ include('tchat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tchat_index') }}">back to list</a>

    {{ include('tchat/_delete_form.html.twig') }}
{% endblock %}
