{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
        INSIDIOME
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
        BDSM Life style, Kink N' Fetish, Internal Language
    </div>
{% endblock %}

{% block metas %}
    {# <meta property="og:description" content="INSIDIOME">
    <meta name="description" content="BDSM Life style, Kink N' Fetish, Internal Language">
    <meta name="robots" content="index , follow">
    <meta property="og:image" content="{{ asset("build/img/gen/insidiome.png") }}">
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image:alt" content="INSIDIOME" />
    <meta property="og:url" content="https://www.insidiome.com"/> #}
{% endblock %}

{% block body %}
    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        {# <div class="PageTitle">HOME</div> #}
        <img src="{{ asset('build/img/gen/head.png') }}" alt="sofa" class="max">
    </div>
{# <div class="face" style="background-image: url({{ asset('build/img/gen/mobile.jpg') }});">
    {% include "front/partials/nav.html.twig" %} #}

{% if app.user %}
    {% if app.user.isFr == true %}
       
    {% else %}
        
    {% endif %}
{% elseif lang is same as 'fr' %}
    
{% else %}  
      
{% endif %} 

<div>
    <h5>{{ room.titre }}</h5>
    <p>{{ room.descFr | raw }}</p>
    <p>vous souhaitez participer à la discussion générale ?
    <p>vous devez respecter les règles de la salle</p>
    <a href="{{ path('app_tchat_room', {'roomSlug': room.slug}) }}" class="btn btn-outline-secondary">Rejoindre le salon</a>
 
</div>

{% include "front/partials/footer.html.twig" %}
{% endblock %}