{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
        INSIDIOME
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
        BDSM Life style, Kink N' Fetish, Internal Language
    </div>
{% endblock %}

{% block metas %}
    {# <meta property="og:description" content="INSIDIOME">
    <meta name="description" content="BDSM Life style, Kink N' Fetish, Internal Language">
    <meta name="robots" content="index , follow">
    <meta property="og:image" content="{{ asset("build/img/gen/insidiome.png") }}">
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image:alt" content="INSIDIOME" />
    <meta property="og:url" content="https://www.insidiome.com"/> #}
{% endblock %}

{% block body %}
    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        {# <div class="PageTitle">HOME</div> #}
        <img src="{{ asset('build/img/gen/head.png') }}" alt="sofa" class="max">
    </div>
{# <div class="face" style="background-image: url({{ asset('build/img/gen/mobile.jpg') }});">
    {% include "front/partials/nav.html.twig" %} #}

{% if app.user %}
    {% if app.user.isFr == true %}
       
    {% else %}
        
    {% endif %}
{% elseif lang is same as 'fr' %}
    
{% else %}  
      
{% endif %} 
    <h3>{{ room.titre }}</h3>
    <p>{{ room.descFr | raw }}</p>

    {% for kinkster in room.kinksters %}
        <p>{{ kinkster.pseudo }}</p>
    {% endfor %}
    <hr>
    
    {% for message in messages %}
        {% if message.parentMessage == null %}
        <div class="bg-dark m-1 p-2">
            <a href="{{ path('app_profil', {'userSlug': message.sender.userSlug}) }}"><p class="m-0 tchat__user"><b>{{ message.sender.pseudo }}</b> : {{ message.LastAnswer | date('d/m/Y H:i') }}</p></a>
            <p class="m-0">{{ message.content | raw }}</p>
            <hr class="mb-0">
            {% for message in message.childMessages %}
                <a href="{{ path('app_profil', {'userSlug': message.sender.userSlug}) }}"><p class="m-0 text-end text-success"><b>{{ message.sender.pseudo }}</b> : {{ message.LastAnswer | date('d/m/Y H:i') }}</p></a>
                <p class="m-0 text-end">{{ message.content | raw }}</p>
                <hr class="mb-0">
            {% endfor %}
            <div class="tchat__menu">
                <a href="{{ path('app_tchat_answer', {'roomSlug': room.slug, 'messageId': message.id}) }}" class="btn btn-outline-secondary btn-sm mt-2">Répondre</a>
                {% include "front/tchat/_delete_form.html.twig" with {'message': message} %}
            </div>
        </div>    
        {% endif %}
    {% endfor %}

    {# <div class="bg-dark m-1 p-2">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-outline-success">Envoyer</button>
        {{ form_end(form) }}
    </div>     #}
    <hr class="mb-0">
    <a href="{{ path('app_tchat_message', {'roomSlug': room.slug}) }}" class="btn btn-outline-secondary btn-sm m-2">Ecrire un message</a>
{% include "front/partials/footer.html.twig" %}
{% endblock %}