.crd {
    border-radius: 5px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
} 

.transfo:hover { 
    transform:scale(1.05); 
    transition:transform 0.4s ease-out; 
  
}

