.nav {
    width: 100%;
    background-color: rgb(0,0,0,0.6);

    .row {
        width: 100%;

    }
}

.nav__logo {
    width: 100%;
    display: flex;
    justify-content: start;
}

.nav__menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav__account {
    width: 100%;
    display: flex;
    justify-content: end;
}