<form method="post" action="{{ path('app_image_user_delete', {'id': idImage, 'userSlug': kinkster.userSlug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ idImage) }}">
    <button class="btn btn-outline-danger btn-sm">Suppression image</button>
</form>
