{% extends 'base.html.twig' %}


{% block body %}

<div class="face" style="background-image: url({{ asset('build/img/gen/mobile.jpg') }});">
</div>

<!-- Modal -->
<div class="modal banner__modal fade" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="p-3">

            
                    
            {% if countImage < 1 %}
                <div class="row">
                    <img class="col-12 col-sm-6 test" src="{{ asset('build/img/gen/default.png') }}" alt="{{ kinkster.pseudo }}">
                        <div class="col-12 col-sm-6 py-3">
                        <div class="presentation">
                            <p>Pas de photo de profil</p>
                            <a href="{{ path('app_image_user_new', {'userSlug': kinkster.userSlug} ) }}" class="btn btn-outline-secondary">Add</a>
                        </div>                 
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <img class="col-12 col-sm-6 test" src="{{ asset('uploads/img/user/' ~ profilImage) }}" alt="no image">
                    <div class="col-12 col-sm-6" >
                        <div class="presentation">
                            <p>Voici votre photo de profil</p>
                            <a href="{{ path('app_profil_board', {'userSlug': kinkster.userSlug} ) }}" class="btn btn-outline-secondary">Profil</a>
                            {{ include('front/image_user/_delete_form.html.twig', {'userSlug': kinkster.userSlug} , {'id': idImage}) }}
                        </div>                 
                    </div>
                </div>
            {% endif %}    
            </div>
        </div>
    </div>
</div>
  


{% endblock %}