{% extends 'base.html.twig' %}

{% block body %}

<div class="face" style="background-image: url({{ asset('build/img/gen/mobile.jpg') }});">
</div>

    <!-- Modal -->
<div class="modal banner__modal fade" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="p-3">

                <h2>Ajouter une</h2>
                <h1>Photo de profil</h1>
                <p class="text-success"><b>Privilegiez un format carré !</b></p>
                <p>Votre image sera recoupée.</p>
                <p class="text-danger">Les images à caractère pornographique</p>
                <p class="text-danger"><b>sont strictement interdites !!!</b></p>
                <p>Le choix de votre image sera soumis à modération</p>
                {{ include('front/image_user/_form.html.twig') }}
   
            </div>
        </div>
    </div>
</div>
  


{% endblock %}
