{% extends 'base.html.twig' %}

{% block title %}ImageUser{% endblock %}

{% block body %}
    <h1>ImageUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image_user.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ image_user.name }}</td>
            </tr>
            <tr>
                <th>IsValid</th>
                <td>{{ image_user.isValid ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsFirst</th>
                <td>{{ image_user.isFirst ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_image_user_index') }}">back to list</a>

    <a href="{{ path('app_image_user_edit', {'id': image_user.id}) }}">edit</a>

    {{ include('front/image_user/_delete_form.html.twig') }}
{% endblock %}
